.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .navbar-content ul {
    display: flex;
    margin-top: 1rem;
  }
  
  .navbar-content li {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  
  .navbar-content a {
    color: #444;
  }
  
  .navbar-content a:hover {
    color: #f84;
  }
  
  @media screen and (max-width: 720px) {
    .navbar-content {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
  
    .navbar-content ul {
      justify-content: space-around;
      width: 100%;
      margin-top: 1rem;
    }
  
    .navbar-content li {
      margin: auto;
    }
  }