/* ----------- App.js ------------ */

body {
  background-color: rgb(37, 34, 35);
}

/* ----------- NavBar ------------- */

h1 {
  font-weight: bold;
  color: #d1690d;
}

p,
h2,
h3 {
  font-weight: bold;
  color: #bfc0ca;
}

.navbar-component {
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  margin: 30px;
  list-style-type: none;
}

.navbar-list-items {
  margin-right: 15px;
  font-size: large;
}

.navbar-list-items a {
  text-decoration: none;
  font-weight: bold;
  color: #d1690d;
}

.pipe-divisor {
  margin-left: 5px;
}

/* ---------- CalculatorPage ----------- */

.calculator-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

/* ---------- Quotes ----------- */

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}
