header,
main {
  max-width: 960px;
  min-width: 400px;
  margin: auto;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  color: #f84;
  text-shadow: 2px 2px 2px #ccc;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #444;
}

p {
  margin-bottom: 1rem;
  line-height: normal;
  font-size: 1rem;
}

.text-background {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #eee;
}
